﻿@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FamillyTree</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/StyleSheet.css?v=@DateTime.Now.Millisecond" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <div class="wrapper">
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 233.03 344.981" enable-background="new 0 0 233.03 344.981" xml:space="preserve">
                        <g id="__id147_ssxf99k2an">
                        <g>
                        <path d="M5.783,344.981c6.587-23.354,16.497-74.085,9.91-97.438c-4.191-16.168-3.593-27.545,1.198-43.114    c2.395-8.383,8.383-16.167,10.18-24.551c1.796-8.981-0.599-14.97,2.994-23.952c4.191-9.581,5.988-19.161,1.796-30.539    c-1.796-4.191-3.593-10.18-6.587-14.371c-4.192-5.988-9.581-7.784-12.575-14.97c2.994,8.383,7.186,16.168,16.167,17.964    c2.395-8.982,8.653-46.874,8.054-38.49c-1.198,5.988-0.868,22.323-1.467,28.909c-0.599,4.791-3.593,10.18-2.994,14.971    c0.599,5.389,4.191,10.18,5.389,16.167c0.599,5.39-0.599,11.378,1.796,15.569c0.599-6.587,6.587-12.575,10.778-17.964    c8.383-8.982,9.581-10.18,9.581-20.958c0.599-9.582,3.593-7.186,7.785-14.971c2.395-5.389,0-13.173,0.599-18.562    c1.796-13.174,4.791-29.341,14.371-38.324c10.778-9.581,29.94-16.766,31.737-33.533c2.994,19.76-26.078,26.181-33.862,41.15    C76.442,56.358,70.185,69.1,68.987,78.082c-0.599,7.785,3.593,24.551-3.593,28.743c7.186-7.186,16.767-16.168,19.761-25.749    c4.191-13.772,5.389-13.174,19.76-15.569c23.952-4.192,36.527-28.144,61.677-28.144c-10.18,2.395-21.557,10.778-29.94,16.766    c-8.982,5.988-18.562,8.982-28.742,11.377c8.982,1.198,16.167,10.18,25.149,10.18c4.192-16.767,23.952-19.162,38.922-20.359    c2.994,0,8.653-3.76,11.048-5.556c3.593-1.796,7.515-4.025,11.108-6.42c8.982-5.988,20.359-8.383,31.138-6.587    c-7.186,0.599-16.168,4.192-22.754,5.988c-9.581,2.994-14.372,10.778-23.354,14.97c-14.371,6.587-34.73-1.796-44.91,16.168    c7.785-2.994,33.533-4.192,38.922,2.395c-9.581,7.186-29.94-5.988-39.521,1.198c4.191,4.791,2.994,14.371,5.988,20.958    c3.593,6.587,5.988,14.97,10.18,19.76c5.988,6.587,12.575,9.581,16.167,19.162c2.396,6.587,1.797,13.174,4.192,19.761    c-8.713-30.977-13.377-25.946-23.557-39.719c-5.389-6.587-9.976-15.97-12.371-24.952c-1.796-6.587,2.395-13.174-1.796-18.563    c-9.581-10.778-31.138-5.988-40.12,1.197c-7.186,5.39-9.581,9.581-13.174,17.366c-2.994,5.988-9.581,14.371-10.778,20.359    c0,2.395-0.599,2.994-0.599,5.389c8.982-7.186,30.539-7.186,40.12-0.599c-13.174,1.197-23.952-5.988-35.33,2.396    c-13.772,10.18-19.76,22.155-28.144,36.526c-6.587,11.378-11.976,19.162-13.772,34.73c-1.796,13.772-5.389,28.743-1.198,42.516    c1.198,5.987,4.191,11.376,5.988,17.364c-5.643-18.808,17.036-58.25,33.204-52.263c-14.499,4.334-24.148,21.111-25.749,28.144    c-6.614,29.055-0.868,21.344,1.543,8.582c2.515-13.307-0.863,25.682,0.583,39.024c0.673,6.214,1.338,12.05-1.197,17.86    c-2.523,5.781-6.835,10.969-9.73,16.587c-3.08,5.977,7.368,11.187,4.011,16.749c-5.213,8.639,28.512,8.63,26.946,19.162" style="fill: rgb(112, 63, 46);"></path>
	                        </g>
                        </g>
                        <g id="__id148_ssxf99k2an">
                        <circle opacity="0.5" cx="166.981" cy="145.855" r="12.275" style="fill: rgb(142, 207, 114);"></circle>
                        <circle opacity="0.5" cx="171.24" cy="84.596" r="15.017" style="fill: rgb(142, 207, 114);"></circle>
                        <circle opacity="0.5" cx="75.335" cy="48.955" r="15.017" style="fill: rgb(142, 207, 114);"></circle>
                        <circle opacity="0.75" cx="114.3" cy="126.847" r="20.976" style="fill: rgb(142, 207, 114);"></circle>
                        <circle opacity="0.5" cx="71.956" cy="204.199" r="12.08" style="fill: rgb(142, 207, 114);"></circle>
                        <circle opacity="0.5" cx="161.396" cy="35.155" r="10.304" style="fill: rgb(142, 207, 114);"></circle>
                        <circle opacity="0.5" cx="34.19" cy="80.735" r="8.795" style="fill: rgb(142, 207, 114);"></circle>
                        <circle opacity="0.75" cx="8.795" cy="101.592" r="8.796" style="fill: rgb(142, 207, 114);"></circle>
                        <circle opacity="0.5" cx="219.508" cy="44.847" r="13.524" style="fill: rgb(142, 207, 114);"></circle>
                        <circle opacity="0.5" cx="197.144" cy="42.105" r="7.105" style="fill: rgb(142, 207, 114);"></circle>
                        <path opacity="0.75" d="M207.103,69.717c-4.093,3.801-10.49,3.567-14.293-0.524   c-3.799-4.09-3.566-10.489,0.523-14.291c4.093-3.804,10.49-3.568,14.291,0.521C211.427,59.517,211.192,65.914,207.103,69.717z" style="fill: rgb(142, 207, 114);"></path>
                        <circle opacity="0.5" cx="114.144" cy="7.105" r="7.105" style="fill: rgb(142, 207, 114);"></circle>
                        <path opacity="0.75" d="M105.973,24.616c-3.569,3.427-9.238,3.315-12.667-0.252   c-3.426-3.566-3.315-9.236,0.251-12.665c3.568-3.429,9.238-3.316,12.665,0.25C109.65,15.517,109.539,21.187,105.973,24.616z" style="fill: rgb(142, 207, 114);"></path>
                        <path opacity="0.5" d="M130.242,35.562c-4.978,4.78-12.886,4.624-17.67-0.352   c-4.779-4.975-4.624-12.885,0.35-17.667c4.978-4.784,12.887-4.626,17.667,0.349C135.373,22.87,135.216,30.778,130.242,35.562z" style="fill: rgb(142, 207, 114);"></path>
                        <path opacity="0.5" d="M88.83,128.08c-2.83,2.717-7.326,2.629-10.047-0.201c-2.717-2.828-2.629-7.324,0.199-10.043   c2.83-2.721,7.326-2.631,10.045,0.197C91.746,120.863,91.658,125.359,88.83,128.08z" style="fill: rgb(142, 207, 114);"></path>
                        <path opacity="0.75" d="M100.759,109.187c-4.221,4.052-10.927,3.921-14.985-0.3   c-4.052-4.219-3.921-10.924,0.297-14.979c4.221-4.058,10.928-3.924,14.982,0.294C105.108,98.423,104.978,105.128,100.759,109.187z" style="fill: rgb(142, 207, 114);"></path>
                        <circle opacity="0.5" cx="42.703" cy="92.874" r="4.133" style="fill: rgb(142, 207, 114);"></circle>
                        <circle opacity="0.5" cx="30.883" cy="92.896" r="4.904" style="fill: rgb(142, 207, 114);"></circle>
                        <path opacity="0.75" d="M146.83,44.08c-2.83,2.717-7.326,2.629-10.047-0.201c-2.717-2.828-2.629-7.324,0.199-10.043   c2.83-2.721,7.326-2.631,10.045,0.197C149.746,36.863,149.658,41.359,146.83,44.08z" style="fill: rgb(142, 207, 114);"></path>
                        <circle opacity="0.75" cx="203.84" cy="30.251" r="4.775" style="fill: rgb(142, 207, 114);"></circle>
                        <circle opacity="0.5" cx="60.61" cy="182.713" r="7.105" style="fill: rgb(142, 207, 114);"></circle>
                        <path opacity="0.75" d="M44.533,207.272c-5.499-0.985-9.157-6.237-8.175-11.737   c0.984-5.494,6.237-9.155,11.735-8.173c5.499,0.983,9.158,6.236,8.174,11.732C55.283,204.595,50.031,208.253,44.533,207.272z" style="fill: rgb(142, 207, 114);"></path>
                        <path opacity="0.75" d="M73.347,185.652c-2.602-0.423-4.372-2.872-3.951-5.477c0.42-2.602,2.87-4.372,5.473-3.951   c2.605,0.42,4.374,2.871,3.954,5.474C78.4,184.301,75.951,186.071,73.347,185.652z" style="fill: rgb(142, 207, 114);"></path>
                        <circle opacity="0.5" cx="50.144" cy="45.105" r="7.105" style="fill: rgb(142, 207, 114);"></circle>
                        <path opacity="0.75" d="M60.103,72.717c-4.094,3.801-10.49,3.567-14.294-0.524   c-3.799-4.09-3.566-10.488,0.523-14.291c4.093-3.803,10.49-3.568,14.29,0.521C64.427,62.517,64.193,68.914,60.103,72.717z" style="fill: rgb(142, 207, 114);"></path>
                        <path opacity="0.75" d="M60.15,36.694c-1.902,1.825-4.924,1.767-6.752-0.136c-1.826-1.9-1.768-4.922,0.133-6.749   c1.902-1.829,4.924-1.769,6.752,0.132C62.109,31.843,62.05,34.865,60.15,36.694z" style="fill: rgb(142, 207, 114);"></path>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="brand-name">
                    GROOT
                </div>
                @if (Context.Session.GetString("UserId") != null)
                {
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hello, @Context.Session.GetString("Name")
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Users" asp-action="Details" class="dropdown-item" asp-route-id="@Context.Session.GetString("UserId")">Account </a></li>
                            <li><a asp-area="" asp-controller="FamillyMember" asp-action="Index">Member</a></li>
                            <li> <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a></li>

                            @if (Context.Session.GetString("UserRole") == (ProjectEnums.Roles.Admin.ToString()))
                            {
                                <li class="divider"></li>
                                <li><a asp-area="" asp-controller="Users" asp-action="Index">User Manager</a></li>
                            }
                        </ul>
                    </div>

                }
                else
                {

                    @if (ViewData["Title"] == "Login")
                    {
                        <a asp-controller="Users" class="btn loginBtn" asp-action="Register">Register</a>

                    }
                    else
                    {
                        <a asp-controller="Users" class="btn loginBtn" asp-action="Login">Log in</a>
                    }
                }


            </div>

        </div>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    

    

    @RenderSection("Scripts", required: false)
</body>
</html>
