﻿@{
    ViewData["Title"] = "Tree";
}
    <style>
        .wrapper{
            background: url(../images/tree-bg.jpg) no-repeat;
            background-position: center;
            background-size: cover;
            height: -webkit-fill-available;
        }
        .wrapper:before{
            content:'';
            position: fixed;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.47);
        }
    </style>

    <div class="tree-container">
        <div class="person-item">
            <div class="p-photo"></div>
            <div class="p-info">
                <p class="p-name"></p>
                <p class="p-birth"></p>
            </div>  
        </div>
    </div>
