﻿@model FamillyTree.Models.Tree

@{
    ViewData["Title"] = "Create";
}

<h2 class="page-title">Add new person</h2>
<div class="person-container">
    <div class="family-container">
        <div class="parents">
            <h1 class="page-title">parents</h1>
            <div class="card-box">
                <div class="card card-father"><span>Father</span></div>
                <div class="card card-mother"><span>Mother</span></div>
            </div>
        </div>
        <div class="family">
            <h1 class="page-title">family</h1>
            <div class="card-box">
                <div class="card card-love"><span>Wife Husband</span></div>
                <div class="card card-child"><span>Child</span></div>
            </div>
        </div>
    </div>
    <div class="person-photo">

    </div>
    <div class="create-form-container">
        <form asp-action="Create">
            <div class="input-box">
                <label>Enter name</label>
                <input type="text" name="personName" value="" class="input-transparent" />
            </div>
            <div class="input-box">
                <label>Enter surname</label>
                <input type="text" name="personSurname" value="" class="input-transparent" />
            </div>
            <div class="input-box">
                <label>Enter maiden name</label>
                <input type="text" name="personMaidenName" value="" class="input-transparent" />
            </div>
            <div class="input-box">
                <label>Enter short note about person</label>
                <textarea type="text" name="personNote" class="input-transparent"></textarea>
            </div>
            <div class="input-box">
                <label>Date of birth</label>
                <input type="date" name="personDateBirth" value="" class="input-transparent" />
            </div>
        </form>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentsId" class="control-label"></label>
                <input asp-for="ParentsId" class="form-control" />
                <span asp-validation-for="ParentsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChieldId" class="control-label"></label>
                <input asp-for="ChieldId" class="form-control" />
                <span asp-validation-for="ChieldId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>-->

