﻿@model FamillyTree.Models.Tree

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParentsId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentsId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChieldId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChieldId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TreePositionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
