﻿@model FamillyTree.Models.Tree

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Tree</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TreePositionId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentsId" class="control-label"></label>
                <input asp-for="ParentsId" class="form-control" />
                <span asp-validation-for="ParentsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChieldId" class="control-label"></label>
                <input asp-for="ChieldId" class="form-control" />
                <span asp-validation-for="ChieldId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

