﻿@model IEnumerable<FamillyTree.Models.TreeViewModel>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Tree";
}
<style>
    .wrapper {
        background: url(../images/tree-bg.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        height: -webkit-fill-available;
    }

        .wrapper:before {
            content: '';
            position: fixed;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.47);
        }

    .container.body-content {
        position: relative;
    }
</style>
<!--Контейнер з персонами: показуэмо якщо є вже створене дерево-->
<div class="tree-container">
    @foreach (var item in Model)
    {
        <div class="person-item ui-widget-content draggable">
            <div class="p-photo"></div>
            <div class="p-info">
                <p class="p-name">@item.FamillyMember.Name</p>
                <p class="p-birth">@item.FamillyMember.Birthday</p>
            </div>
        </div>
    }


    <div class="person-item ui-widget-content draggable">
        <div class="p-photo"></div>
        <div class="p-info">
            <p class="p-name">@Context.Session.GetString("Name")</p>
            <p class="p-birth">Date of Birth</p>
        </div>
    </div>
    
</div>
<br>
<a asp-action="Create" class="createTreeBtn">Create New
</a>
    <script>
        //функція, яка робить об'єкти в контейнері дерева переносними
        $(function () {
            $(".draggable").draggable({
                containment: "parent",
                stop: function () {
                    //коли об'єкт перенесено фіксуємо його координати, потрібно ці дані заносити в базу
                    var left, top;
                    left = $(this).css("left");
                    top = $(this).css("top");
                    console.log(this, left);
                }
            });
        });
    </script>
    <!--Пустий контейнер: показуємо якщо користувач вперше залогінився на сайті-->
    @*<div class="emptyTree-container">
        <div class="tree-icon"></div>
        <a asp-action="Create" class="createTreeBtn">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 400.463 332.771" enable-background="new 0 0 400.463 332.771" xml:space="preserve">
            <g id="__id157_sn2suf0oa">
            <g id="__id158_sn2suf0oa">
            <path d="M400.449,292.394c0.042-0.771-0.024-1.475-0.163-2.122c-1.746-17.707-13.177-30.961-29.651-35.146    c0-31.891,0-63.782,0-95.672c0-4.442-1.134-9.845-7.007-9.845c-52.377,0-105.952,0-159.553,0c0-24.293,0-48.587,0-72.879    c16.836-3.149,28.68-19.102,30.49-35.841c0.158-0.681,0.231-1.423,0.188-2.239c0.042-0.771-0.023-1.476-0.164-2.124    c-2.045-20.713-17.336-35.337-38.448-36.477c-21.777-1.172-37.506,18.544-38.586,38.601c-1.032,19.15,14.084,33.628,31.39,37.574    c0,24.462,0,48.924,0,73.386c-50.882,0-101.688,0-151.415,0c-5.896,0-6.992,5.152-6.992,9.896c0,32.188,0,64.376,0,96.563    C13.775,259.283,2.001,275.202,0.2,291.896c-0.157,0.678-0.231,1.418-0.187,2.231c-0.042,0.771,0.024,1.473,0.163,2.119    c2.042,20.707,17.319,35.334,38.429,36.476c21.775,1.171,37.52-18.533,38.601-38.595c1.035-19.207-14.176-33.71-31.54-37.61    c0-30.594,0-61.188,0-91.779c47.13,0,95.164,0,143.279,0c0,29.321,0,58.643,0,87.964c0,0.52,0.051,1.004,0.132,1.467    c-18.047,2.881-30.564,20.411-31.522,38.228c-1.173,21.777,18.53,37.515,38.586,38.593c20.965,1.127,36.338-17.09,38.422-36.353    c0.158-0.681,0.232-1.424,0.188-2.24c0.042-0.771-0.024-1.475-0.164-2.122c-1.788-18.117-13.708-31.573-30.799-35.426    c0.179-0.655,0.284-1.365,0.284-2.146c0-29.321,0-58.643,0-87.964c50.838,0,101.64,0,151.432,0c0,29.772,0,59.546,0,89.319    c-18.437,2.52-31.272,20.284-32.244,38.338c-1.173,21.777,18.526,37.515,38.586,38.593c20.962,1.127,36.329-17.098,38.412-36.353    C400.419,293.955,400.493,293.212,400.449,292.394z M172.684,38.648c-1.63-30.275,45.314-30.106,46.939,0    C217.993,68.891,174.314,68.898,172.684,38.648z M62.077,294.128c1.63,30.261-45.312,30.103-46.934,0    C16.773,263.869,60.447,263.875,62.077,294.128z M219.623,292.394c-1.63,30.244-45.309,30.249-46.939,0    C171.054,262.117,218.003,262.285,219.623,292.394z M338.391,292.394c-1.629-30.277,45.307-30.104,46.932,0    C383.691,322.633,340.021,322.638,338.391,292.394z" style="fill: rgb(255, 255, 255);"></path>
                            </g>
                        </g>
                    </svg>
            Create New
        </a>
    </div>*@


