﻿@model FamillyTree.Models.User

@{
    ViewData["Title"] = "Login";
}
    <style>
        body{
            background: url(../images/tree.jpg) repeat-x;
            background-size: cover;
        }
    </style>
    
    <div class="login-form">
        <h2 class="page-title">Authorization</h2>


        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <div align="center" class="form-group">
                        <input type="submit" value="Login" class="btn login-input"  />

                        <a class="btn home-input" asp-area="" asp-controller="Home" asp-action="Index">	&#8592; <span class="arrow">Home</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}