﻿@import url('https://fonts.googleapis.com/css?family=Fira+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Glegoo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
html,body{
    margin: 0;
    padding:0;
}
a{
    outline:none!important;
}
*{
    box-sizing:border-box;
}
.wrapper{
    padding-top: 120px;
    position: relative;
    
}
body {
    background: #545454;
}
.brand-name {
    font-size: 36px;
    margin: 0 auto;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    color:#8ecf72;
}
.dl-horisontal dd {
    padding-left: 5%;
    margin-left: 15%;
}
.navbar{
    background:rgba(0,0,0,0.3);
    height: 70px;
}
.navbar.navbar-fixed-top{
    margin-top: 50px;
}
.navbar>div{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
}

.loginBtn, .loginBtn:visited{
    border: 1px solid #59bbac;
    padding: 5px 30px;
    border-radius: 3px;
    background-color: transparent;
    color: #59bbac;
    font-family: "Didact Gothic",sans-serif;
    font-size: 23px;
    transition: .2s ease-in-out;
}
    .loginBtn:hover {
        color: #6effe9 !important;
        border-color: #6effe9 !important;
    }
.loginBtn:active{
    color: #fff!important;
    border-color: #fff!important;
}
.logo svg{
    height: 83px;
    margin-bottom: 8px;
    width: 84px!important;
}
.home-container h1{
    font-family: "Glegoo",sans-serif;
    font-size: 47px;
    color: #8ecf72;
    margin-bottom: 30px;
    padding-top: 30%;
    margin-top: 0;
}
.home-container h4{
    font-size: 16px;
    font-family: "Exo",sans-serif;
    font-weight: 700;
    color: #fff;
}
.home-container p{
    color: #fff;
    font-size: 15px;
    font-family: "Exo",sans-serif;
}
.home-container{
    display: flex;
    flex-flow: row wrap;
}
.home-container > div {
    width: 50%;
}
.createTreeBtn {
    display: inline-flex;
    align-items: center;
    background: #8ecf72;
    color: #fff!important;
    font-family: "Exo",sans-serif;
    border: none;
    border-radius: 5px;
    font-size: 31px;
    padding: 15px 25px;
    margin-left: auto;
    text-decoration: none!important;
    transition: .2s ease-in-out;
}
.createTreeBtn:hover {
    background: #7cb564;
}
.createTreeBtn svg{
    width: 40px;
    margin-right: 10px;
}
.home-text + div {
    align-self: flex-end;
    text-align: right;
}
.login-form,.register-form{
    color: #fff;
    font-family: "Exo",sans-serif;
    font-weight: 300;
}
.page-title{
    color: #59bbac;
    font-family: "Arimo",sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 25px 0;
}
.login-input {
   
    background: #59bbac;
    transition: .2s ease-in-out;
}
.home-input, .login-input {
    margin-top: 15px;
    display: block;
    width: 100%;
    font-family: "Arimo",sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.home-input {
    background: #fff;
    color: #59bbac;
}
    .home-input:hover {
        background: #fff;
        color: #458e83;
    }
    .login-input:hover, .login-input:visited, .login-input:active {
        background: #458e83;
        color: #fff;
    }
.arrow{
    transition: .4s ease-in-out;
}
.home-input:hover .arrow {
    margin-left: 10px;
    padding-right: 10px;
}
.tree-container {
    position: relative;
    height: -webkit-fill-available;
}
.person-item {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 110px;
}
.p-photo{
    width: 100%;
    background-color: #fff;
    height: 70%;
    background-position:center;
    background-size: cover;
    background-image: url("../images/male.svg");
}
.p-info {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    width: 100%;
    padding: 5px;
    background-color: rgba(255,255,255,0.34);
    margin-top: 5px;
    text-align: center;
}
.p-info p{
    margin: 0;
    line-height: 1.2;
}
.emptyTree-container{
    text-align: center;
}
.tree-icon{
    width: 300px;
    height: 300px;
    background-image: url('../images/tree.svg');
    background-size: cover;
    background-position: center;
    margin: 30px auto;
}
.person-container{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}
.card{
    position: relative;
    width: 130px;
    height: 130px;
    background: #fff;
}
.card + .card{
    margin-left: 10px;
}
.card-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
}
.card > span {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #59bbac;
    font-size:17px;
    width: 50px;
    height: 19px;
}
.person-photo {
    width: 230px;
    height: 332px;
    background-color: #fff;
    margin: 0 10px;
}
.create-form-container{
    font-family:"Arimo",sans-serif;
    font-size:16px;
    color: #59bbac;
}
.input-transparent{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: "Arimo",sans-serif;
    font-weight: 300;
    font-size:12px;
    padding: 5px 10px;
    width: 250px;
    border-radius:5px;
}
.input-box>label{
    display:block;
}
.input-box + .input-box{
    margin-top:10px;
}